body {
    font-family: 'Nunito', sans-serif;
    background-color: #1e1a2f;
    text-align: center;
}
footer {
    color: #FFF;
}
.blanco {
    color: #FFF;
}
.gris {
    color: #C1C1C1;
}
.petroleo {
    color: #00BBC9;
}
.rojo {
    color: #c40d00;
}
.amarilloso {
    color: #e7a72a;
}
.verde {
    color: #a2e63e;
}
h5 {
    font-weight: bold;
}
h6 {
    margin: 5px 0 0 0;
    font-weight: bold;
}
h1 {
    margin: 0;
    font-weight: bold;
}

.imagenes {
    text-align: center;
}

.card-columns .card {
    background-color: transparent;
    border: 5px solid #FFF;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    text-align: left;
}

.card-columns .card img {
    width: 80px;
    margin-bottom: 5px;
    margin-right: 3px;
}
.card-columns .card img.armadura {
    width: 140px;
    margin: 0px;
}
.card-columns .card img.esencia {
    width: 100px;
    margin-right: 0px;
}
.card-columns .card img.esencia-azul {
    width: 50px;
}

#buscador {
    margin: 10px auto;
}
#contenedor {
    padding: 15px;
}
.form-control {
    color: #FFF;
    background-color: transparent;
    border-color: #C1C1C1;
    border-radius: 0 .5rem .5rem 0 !important;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 0px;
}

.input-group-text {
    color: #000;
    background-color: #C1C1C1;
    border: 1px solid #C1C1C1;
    border-top-left-radius: .5rem !important;
    border-bottom-left-radius: .5rem !important;
}

.form-control:focus {
    color: #FFF;
    background-color: #4f4f4f;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem #b9bbbb78;
}

.btn {
    margin-left: 20px;
    border-radius: .5rem;
}
.btn-light {
    color: #555;
}
.btn-light:not(:disabled):not(.disabled).active {
    color: #000000;
}

.card-columns .tanque {
    border-color: #FF804F;
}

.card-columns .mago {
    border-color: #9a6FFF;
}

.card-columns .arquero {
    border-color: #1FDD63;
}
p.verde {
    margin-top: -1rem;
}
