body {
    font-family: 'Nunito', sans-serif;
    background-color: #AF1200;
    text-align: center;
    color: #FFF;
}

.evento {
    border: 3px #dc3545 solid;
    border-radius: 20px;
    padding: 20px 10px;
    margin: 5px;
    background-color: #dc3545;
}