body {
    font-family: 'Nunito', sans-serif;
    background-color: #00BBC9;
    text-align: center;
}
footer {
    color: #FFF;
}
.card {
    border: 5px solid #00838E;
    border-radius: 16px;
    padding: 5px;
    background-color: #00BBC9;
    text-align: left;
}
.card .row,
.card .interior{
    background-color: #00838E;
    border-radius: 8px;
    padding: 5px;
}
.interior {
    text-align: center;
}
.interior img {
    width: 70%;
}
.card .card-body {
    padding: 0;
}
.card .interior .card-body {
    padding: 0 5px;
}
.card .card-body h5 {
    margin: 7px 0 5px 0;
    text-align: center;
}
.interior .card-body p {
    text-align: center;
    font-size: 1em;
}
ul{
    list-style-type: none;
    padding: 15px;
    margin-bottom: 0px;
    width: 100%;
    margin-top: -5px;
    font-size: 0.94em;
}
.interior ul {
    font-size: 1em;
    padding-left: 10px;
}
ul> li:before {
    content: "-";
    margin-right: 2px;
}
.card .row p {
    line-height: 1.2em;
    width: 100%;
}
.card .row p.blanco {
    padding: 0 0 0 15px;
}
.interior .card-footer {
    background-color: transparent;
    border-top: 0;
    padding: 0 15px;
}
.blanco {
    color: #FFF;
}
.petroleo {
    color: #00BBC9;
}
.celeste {
    color: #54f8ff;
}
.naranja {
    color: #E9CB37;
}
.verdoso {
    color: #edffd2;
}
.rojo {
    color: #c40d00;
}
.amarilloso {
    color: #e7a72a;
}

#buscador {
    margin: 10px auto;
}
.form-control {
    color: #00838E;
    background-color: #00BBC9;
    border-color: #00838E;
    border-radius: 0 .5rem .5rem 0 !important;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 0px;
}

.input-group-text {
    color: #FFF;
    background-color: #00838E;
    border: 1px solid #00838E;
    border-top-left-radius: .5rem !important;
    border-bottom-left-radius: .5rem !important;
}

.form-control:focus {
    color: #54f8ff;
    background-color: #00BBC9;
    border-color: #00838E;
    box-shadow: 0 0 0 0.2rem #54f8ff78;
}
h5 {
    font-weight: bold;
}
h6 {
    margin: 5px 0 0 0;
    font-weight: bold;
}
h1 {
    margin: 0;
    font-weight: bold;
}
.btn {
    margin-left: 20px;
    border-radius: .5rem;
}
.btn-light {
    color: #00BBC9;
}
.btn-light:not(:disabled):not(.disabled).active {
    color: #00838E;
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}